@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  font-family: Roboto;
  margin: 0;
  background-color: #3882f6;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-button {
  border: none;
  height: 80px;
  width: 200px;
  font-size: 48px;
  font-weight: 900;
  background-color: #3882f6;
  color: white;
  margin: 100px 0;
}